@model ThanhDatWebsite.Orders

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Orders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Branches.BranchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branches.BranchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customers.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customers.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryMethod.DeliveryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryMethod.DeliveryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payment.Payment1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payment.Payment1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
