@model IEnumerable<ThanhDatWebsite.Orders>
@{
    ViewBag.Title = "Trang quản lý";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<main>
    <div class="container-fluid pt-2">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                <span class="fs-3 fw-bold">Danh sách đơn hàng</span>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="bg-info">
                        <tr>
                            <th>Mã</th>
                            <th>Ngày đặt</th>
                            <th>Người đặt</th>
                            <th>Trị giá</th>
                            <th>Tình trạng</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dh in Model)
                        {
                            <tr>
                                <td>@dh.OrderID</td>
                                <td>@Convert.ToDateTime(dh.OrderDate).ToString("dd/MM/yyyy")</td>
                                <td>@dh.Customers.FullName</td>
                                <td>@string.Format("{0:C0}", dh.TotalAmount)</td> 
                                @{ 
                                    string badge = "";
                                    string btnText = "";
                                    string btnColor = "";
                                    string btnState = "";
                                }
                                @if (dh.Status == "Đã nhận")
                                {
                                    badge = "badge bg-primary";
                                    btnText = "Gửi hàng";
                                    btnColor = "btn-primary";

                                }
                                else if (dh.Status == "Đang xử lý")
                                {
                                    badge = "badge bg-secondary";
                                    btnText = "Duyệt";
                                    btnColor = "btn-success";
                                }
                                else
                                {
                                    badge = "badge bg-success";
                                    btnText = "Chờ xác nhận";
                                    btnColor = "btn-secondary";
                                    btnState = "disabled";
                                }
                                <td><span class="@badge">@dh.Status</span></td>
                                <td><button type="button" class="btn @btnColor" @btnState data-bs-toggle="modal" data-bs-target="#exampleModal_@dh.OrderID">@btnText</button></td>
                            </tr>
                            <div class="modal fade" id="exampleModal_@dh.OrderID" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">DUYỆT ĐƠN HÀNG</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Nhấn "Xác nhận" để thông báo cho khách hàng biết rằng bạn đã nhận được đơn hàng của họ.
                                            Đơn hàng sẽ được chuẩn bị và gửi cho đơn vị vận chuyển
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                            <a href="@Url.Action("DuyetDon","Home",new { id = dh.OrderID.Trim()})" class="btn btn-primary">Xác nhận</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <h1 class="mt-4">Thống kê</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        Số đơn hàng theo ngày
                    </div>
                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Doanh thu theo tháng
                    </div>
                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
        </div>
    </div>
</main>

