@model IEnumerable<ThanhDatWebsite.Products>
@{
    ViewBag.Title = "Thành Đạt store";
}

<main class="">
    <div id="carouselExampleInterval" class="carousel slide" style="height:24vw; overflow:hidden" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
                <img src="~/Media/Slider_1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="~/Media/Slider_2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="~/Media/Slider_3.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- The Modal -->
    <div class="modal fade mt-4" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content bg-transparent ">

                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "d-flex justify-content-center text-center gap-3" }))
                {
                    @Html.TextBox("txtTimKiem", null, new { @class = "form-control", placeholder = "Tìm kiếm sản phẩm", style = "width:500px" })
                    <button type="submit" class="btn btn-outline-light">Tìm kiếm</button>
                }

            </div>
        </div>
    </div>

    <div class=" text-center fw-bold fs-2"><p>Danh mục sản phẩm</p></div>
    <div id="category" class="row d-flex container justify-content-evenly ">
        <div class="col-2 mt-3 d-grid text-center pb-2 fw-bold fs-6 align-content-center justify-content-center rounded-2"><a href="#iPhone"><img class="w-100" src="~/Media/IP_Desktop.png" /></a>iPhone</div>
        <div class="col-2 mt-3 d-grid text-center pb-2 fw-bold fs-6 align-content-center justify-content-center rounded-2"><a href="#iPad"><img class="w-100" src="~/Media/IPad_Desktop.png" /></a>iPad</div>
        <div class="col-2 mt-3 d-grid text-center pb-2 fw-bold fs-6 align-content-center justify-content-center rounded-2"><a href="#Mac"><img class="w-100" src="~/Media/Mac_Desktop.png" /></a>Macbook</div>
        <div class="col-2 mt-3 d-grid text-center pb-2 fw-bold fs-6 align-content-center justify-content-center rounded-2"><a href="#Watch"><img class="w-100" src="~/Media/Watch_Desktop.png" /></a>Watch</div>
        <div class="col-2 mt-3 d-grid text-center pb-2 fw-bold fs-6 align-content-center justify-content-center rounded-2"><a href="@Url.Action("Watch","Home")"><img class="w-100" src="~/Media/Amthanh_Desktop.png" /></a>Tai nghe, loa</div>
        <div class="col-2 mt-3 d-grid text-center pb-2 fw-bold fs-6 align-content-center justify-content-center rounded-2"><a href="@Url.Action("Watch","Home")"><img class="w-100" src="~/Media/PK.png" /></a>Phụ kiện</div>
    </div>
    <div class="Iphone justify-content-between d-flex flex-wrap position-sticky row overflow-hidden">
        @foreach (var item in Model)
        {
            <div class="ip-item-mobile mt-2 w-30 popover align-content-center bg-opacity-25 bg-light justify-content-center pt-2 pb-2 rounded-2 col-3">
                <div id="ProductImg" class="item-img align-content-center justify-content-center d-flex hover-zoom"><img class="w-75" src="@item.Image" /></div>
                <div class="item-name w-100 d-flex mt-1 ps-3 pe-3 align-content-center text-center justify-content-center">@item.ProductName</div>
                <div class="item-price w-100 d-flex mt-1 justify-content-center fw-bold">@string.Format("{0:C0}", item.UnitPrice)</div>
                <div class="item-btn align-content-center mt-1 justify-content-center d-flex"><a href="@Url.Action("AddToCart", "GioHang", new { id = item.ProductID.TrimEnd() })" class="text-decoration-none">Thêm vào giỏ</a></div>
            </div>
        }
    </div>
    <div class="product-slider">
        <p class="fw-bold fs-3 text-danger">@ViewBag.msg</p>
        <div id="iPhone" class="text-center fw-bold fs-2 mt-3"><p>Điện thoại</p></div>
        <div class="container">
            <div class="slider-wrapper">
                <div class="image-list">
                    @foreach (var item in Model.Where(x => x.CategoryID == "DMDT"))
                    {
                        <div class="image-item ip-item mt-2 w-30 align-content-center bg-opacity-25 bg-light justify-content-center pt-2 pb-2 rounded-1">
                            <div id="ProductImg" class="item-img align-content-center justify-content-center d-flex hover-zoom"><img class="w-75" src="@item.Image" /></div>
                            <div class="item-name w-100 d-flex mt-1 ps-3 pe-3 align-content-center text-center justify-content-center">@item.ProductName</div>
                            <div class="item-price w-100 d-flex mt-1 justify-content-center fw-bold">@string.Format("{0:C0}", item.UnitPrice)</div>
                            <div class="item-btn align-content-center mt-1 justify-content-center d-flex"><a href="@Url.Action("AddToCart", "GioHang", new { id = item.ProductID.TrimEnd() })" class="text-decoration-none">Thêm vào giỏ</a></div>
                        </div>
                    }
                </div>
            </div>
        </div>


        <div id="Mac" class="text-center fw-bold fs-2 mt-3"><p>Laptop</p></div>
        <div class="container">
            <div class="slider-wrapper">
                <div class="image-list">
                    @foreach (var item in Model.Where(x => x.CategoryID == "DMLT"))
                    {
                        <div class="image-item ip-item mt-2 w-30 align-content-center bg-opacity-25 bg-light justify-content-center pt-2 pb-2 rounded-1">
                            <div id="ProductImg" class="item-img align-content-center justify-content-center d-flex hover-zoom"><img class="w-75" src="@item.Image" /></div>
                            <div class="item-name w-100 d-flex mt-1 ps-3 pe-3 align-content-center text-center justify-content-center">@item.ProductName</div>
                            <div class="item-price w-100 d-flex mt-1 justify-content-center fw-bold">@string.Format("{0:C0}", item.UnitPrice)</div>
                            <div class="item-btn align-content-center mt-1 justify-content-center d-flex"><a href="@Url.Action("AddToCart", "GioHang", new { id = item.ProductID.TrimEnd() })" class="text-decoration-none">Thêm vào giỏ</a></div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div id="iPad" class="text-center fw-bold fs-2 mt-3"><p>Máy tính bảng</p></div>
        <div class="container">
            <div class="slider-wrapper">
                <div class="image-list">
                    @foreach (var item in Model.Where(x => x.CategoryID == "DMMTB"))
                    {
                        <div class="image-item ip-item mt-2 w-30 align-content-center bg-opacity-25 bg-light justify-content-center pt-2 pb-2 rounded-1">
                            <div id="ProductImg" class="item-img align-content-center justify-content-center d-flex hover-zoom"><img class="w-75" src="@item.Image" /></div>
                            <div class="item-name w-100 d-flex mt-1 ps-3 pe-3 align-content-center text-center justify-content-center">@item.ProductName</div>
                            <div class="item-price w-100 d-flex mt-1 justify-content-center fw-bold">@string.Format("{0:C0}", item.UnitPrice)</div>
                            <div class="item-btn align-content-center mt-1 justify-content-center d-flex"><a href="@Url.Action("AddToCart", "GioHang", new { id = item.ProductID.TrimEnd() })" class="text-decoration-none">Thêm vào giỏ</a></div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div id="Watch" class="text-center fw-bold fs-2 mt-3"><p>Watch</p></div>
        <div class="container">
            <div class="slider-wrapper">
                <div class="image-list">
                    @foreach (var item in Model.Where(x => x.CategoryID == "DMPK"))
                    {
                        <div class="image-item ip-item mt-2 w-30 align-content-center bg-opacity-25 bg-light justify-content-center pt-2 pb-2 rounded-1">
                            <div id="ProductImg" class="item-img align-content-center justify-content-center d-flex hover-zoom"><img class="w-75" src="@item.Image" /></div>
                            <div class="item-name w-100 d-flex mt-1 ps-3 pe-3 align-content-center text-center justify-content-center">@item.ProductName</div>
                            <div class="item-price w-100 d-flex mt-1 justify-content-center fw-bold">@string.Format("{0:C0}", item.UnitPrice)</div>
                            <div class="item-btn align-content-center mt-1 justify-content-center d-flex"><a href="@Url.Action("AddToCart", "GioHang", new { id = item.ProductID.TrimEnd() })" class="text-decoration-none">Thêm vào giỏ</a></div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- PRODUCT -->


</main>