@model IEnumerable<ThanhDatWebsite.Products>
@{
    ViewBag.Title = "Thành Đạt store";
    var bannermodel = ViewBag.banner as IEnumerable<ThanhDatWebsite.BannerImage>;
}

<main class="shadow px-3 pb-3 rounded-2 bg-white mt-3">
    <div id="carouselExampleInterval" class="carousel slide" style="height:24vw; overflow:hidden" data-bs-ride="carousel">
        <div class="carousel-inner mt-2 rounded-2">
            @{
                bool isActive = true; // Cờ để xác định mục đầu tiên
            }
            @foreach (var banner in bannermodel)
            {
                <div class="carousel-item @(isActive ? "active" : "")" data-bs-interval="10000">
                    <img src="@banner.ImageUrl" class="d-block w-100" alt="...">
                </div>
                isActive = false; // Sau mục đầu tiên, đặt cờ thành false
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- The Modal -->
    <div class="modal fade mt-4" id="myModal">
        <div class="modal-dialog modal-dialog-centered bg-transparent ">
            <div class="modal-content bg-transparent border-0">

                @using (Html.BeginForm("TimKiem", "Home", FormMethod.Post, new { @class = "d-flex justify-content-center text-center gap-3" }))
                {
                    @Html.TextBox("txtTimKiem", null, new { @class = "form-control", placeholder = "Tìm kiếm sản phẩm", style = "width:500px" })
                    <button type="submit" class="btn btn-outline-light">Tìm kiếm</button>
                }

            </div>
        </div>
    </div>
    <div class="text-center fw-bold fs-2 mt-3"><p>Danh sách sản phẩm</p></div>

    <div class="Iphone d-flex position-sticky row overflow-hidden ">
        @foreach (var item in Model)
        {
            <div class="col-6 col-md-3 px-3 my-2">
                <div class="image-item ip-item bg-light justify-content-center py-4 rounded-2 shadow">
                    <div id="ProductImg" class="item-img align-content-center justify-content-center d-flex hover-zoom"><img class="w-50" src="@item.Image" /></div>
                    <div class="item-name w-100 d-flex mt-1 align-content-center text-center justify-content-center">@item.ProductName</div>
                    @if (item.Promotions.Select(x => x.DiscountPercentage).Any())
                    {
                        <div class="item-price w-100 d-flex mt-1 justify-content-center">
                            <div class="text-decoration-line-through fs-6">
                                @string.Format("{0:C0}", item.UnitPrice)
                            </div>
                            &nbsp;
                            <div class="text-danger">
                                -@string.Format("{0:#0}", item.Promotions.Select(x => x.DiscountPercentage).FirstOrDefault() * 100)%
                            </div>
                        </div>
                        <div class="item-price w-100 d-flex mt-1 justify-content-center fw-bold text-danger fs-5">@string.Format("{0:C0}", item.UnitPrice - (item.UnitPrice * item.Promotions.Select(x => x.DiscountPercentage).FirstOrDefault()))</div>
                    }
                    else
                    { <div class="item-price w-100 d-flex mt-1 justify-content-center">
                            <div class="text-danger">
                                @string.Format("{0:C0}", item.UnitPrice)
                            </div>
                        </div>
                    }
                    <div class="item-btn align-content-center mt-1 justify-content-center d-flex"><a href="@Url.Action("AddToCart", "GioHang", new { id = item.ProductID.TrimEnd() })" class="text-decoration-none">Thêm vào giỏ</a></div>
                </div>
            </div>
        }
    </div>
</main>