@model IEnumerable<ThanhDatWebsite.Products>
@{
    ViewBag.Title = "Thành Đạt store";
}

<main>
    <div id="carouselExampleInterval" class="carousel slide" style="height:24vw; overflow:hidden" data-bs-ride="carousel">
        <div class="carousel-inner mt-2">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="~/Media/Slider_1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="~/Media/Slider_2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="~/Media/Slider_3.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- The Modal -->
    <div class="modal fade mt-4" id="myModal">
        <div class="modal-dialog modal-dialog-centered bg-transparent ">
            <div class="modal-content bg-transparent border-0">

                @using (Html.BeginForm("TimKiem", "Home", FormMethod.Post, new { @class = "d-flex justify-content-center text-center gap-3" }))
                {
                    @Html.TextBox("txtTimKiem", null, new { @class = "form-control", placeholder = "Tìm kiếm sản phẩm", style = "width:500px" })
                    <button type="submit" class="btn btn-outline-light">Tìm kiếm</button>
                }

            </div>
        </div>
    </div>
    <div class="text-center fw-bold fs-2 mt-3"><p>Danh sách sản phẩm</p></div>

    <div class="Iphone d-flex position-sticky row overflow-hidden ">
        @foreach (var item in Model)
        {
            <div class="col-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 my-2 py-2 ip-item align-content-center bg-opacity-25 bg-light justify-content-center rounded-2">
                <div id="ProductImg" class="item-img align-content-center justify-content-center d-flex hover-zoom"><img class="w-50" src="@item.Image" /></div>
                <div class="item-name w-100 d-flex mt-1 align-content-center text-center justify-content-center">@item.ProductName</div>
                <div class="item-price w-100 d-flex mt-1 justify-content-center fw-bold">@string.Format("{0:C0}", item.UnitPrice)</div>
                <div class="item-btn align-content-center mt-1 justify-content-center d-flex"><a href="@Url.Action("AddToCart", "GioHang", new { id = item.ProductID.TrimEnd() })" class="text-decoration-none">Thêm vào giỏ</a></div>
            </div>
        }
    </div>
</main>