@model IEnumerable<ThanhDatWebsite.DeliveryMethod>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Hình thức vận chuyển</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped table-hover table-light overflow-scroll table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DeliveryMethodID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DeliveryMethodID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DeliveryMethodID })
        </td>
    </tr>
}

</table>
